<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create</title>
</head>
<body>

<form action="/ads2/create" method="post">
    <label for="userid">Userid</label>
    <input type="number" name="userid" id="userid" class="field" />
    <br>
    <label for="title">title</label>
    <input type="text" name="title" id="title" class="field" />
    <br>
    <label for="description">description</label>
    <input type="text" name="description" id="description" class="field" />
    <br>
    <button>Submit post</button>
</form>

</body>
</html>